<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ChainingAssertion" version="1.7.1.0" targetFramework="net45" />
  <package id="Ix-Async" version="1.2.2" targetFramework="net45" />
  <package id="Ix-Main" version="1.2.2" targetFramework="net45" />
  <package id="MailKit" version="0.5.0.0" targetFramework="net45" />
  <package id="MimeKit" version="0.26.0.0" targetFramework="net45" />
  <package id="ReactiveProperty" version="0.4.1.0" targetFramework="net45" />
  <package id="Rx-Core" version="2.2.2" targetFramework="net45" />
  <package id="Rx-Interfaces" version="2.2.2" targetFramework="net45" />
  <package id="Rx-Linq" version="2.2.2" targetFramework="net45" />
  <package id="Rx-Main" version="2.2.2" targetFramework="net45" />
  <package id="Rx-PlatformServices" version="2.2.3" targetFramework="net45" />
  <package id="Rx-Testing" version="2.2.2" targetFramework="net45" />
  <package id="Unofficial.Blend.Interactivity" version="1.0.0" targetFramework="net45" />
</packages>